In [35]:
#Ques 1

In [1]:
L=[10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
print('After adding 200 and 300 :',L)

L.remove(10)
L.remove(30)
print('After removing 10 and 30 :',L)

L.sort()
print('Sorted in ascending order :',L)

L.sort(reverse=True)
print('Sorted in descending order :',L)

After adding 200 and 300 : [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing 10 and 30 : [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in ascending order : [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in descending order : [300, 200, 80, 70, 60, 50, 40, 20]

In [37]:
#Ques 2

In [11]:
Marks=(45, 89.5, 76, 45.4, 89, 92, 58, 45) 

print('Maximum marks and its index are',max(Marks),'and',Marks.index(max(Marks)),'resp.')

print('Lowest score is',min(Marks),'and it appears',Marks.count(min(Marks)),'times in the tuple')

Marks_list=list(Marks[::-1])
print('Reverse tuple as list :',Marks_list)

a=float(input('Input a number'))
if a in Marks:
    print('It is present in tuple at index',Marks.index(a))
else:
    print('It is not present in tuple')

Maximum marks and its index are 92 and 5 resp.
Lowest score is 45 and it appears 2 times in the tuple
Reverse tuple as list : [45, 58, 92, 89, 45.4, 76, 89.5, 45]

Input a number 76

It is present in tuple at index 2

In [39]:
#Ques 3

In [15]:
import random

numbers = [random.randint(100, 900) for i in range(100)]

count1=0
print('All odd numbers',end=':')
for c in numbers:
    if c%2!=0: 
        print(c,end=',')
        count1=count1+1

print('\n')
print('Total number of odd numbers',count1)

print('\nAll even numbers',end=':')
count2=0
for c in numbers:
    if c%2==0: 
        print(c,end=',')
        count2=count2+1

print('\n')
print('Total number of even numbers',count2)

print('\nAll prime numbers',end=':')
count3=0
for n in numbers:
    is_prime = True
    for i in range(2, int(n ** 0.5) + 1):  
        if n%i == 0:
            is_prime = False
            break
    if is_prime:
        print(n, end=', ')
        count3=count3+1
print('\n')
print('Total number of prime numbers',count3)

All odd numbers:129,217,105,629,145,801,657,605,179,601,595,343,389,651,325,391,359,533,513,291,317,447,721,393,291,133,637,545,789,597,657,155,189,151,777,343,791,407,683,715,253,817,295,207,657,

Total number of odd numbers 45

All even numbers:430,232,314,828,838,634,442,360,870,190,776,834,400,682,588,128,310,712,270,600,432,356,348,770,532,780,240,406,796,546,138,188,360,784,232,580,886,130,304,700,116,590,536,390,536,794,282,142,322,216,528,860,298,554,498,

Total number of even numbers 55

All prime numbers:179, 601, 389, 359, 317, 151, 683,

Total number of prime numbers 7

In [41]:
#Ques 4

In [23]:
A={34,56,78,90}
B={78,45,90,23} 

union_set=A.union(B)
print('Unique scores acheived by both teams :',union_set)

inter_set=A.intersection(B)
print('Scores that are common to both teams :',inter_set)

symm_diff_set=A.symmetric_difference(B)
print('Scores exclusive to each team :',symm_diff_set)

print('Are the scores of team A subset of team B?',A.issubset(B))

print('Are the scores of team B superset of team A?',B.issuperset(A))

x=int(input('Enter a score :'))
if x in A:
    A.remove(x)
    print('Set A after removing',x,':',A)
else:
    print(x,'is not present in Set A')

Unique scores acheived by both teams : {34, 45, 78, 23, 56, 90}
Scores that are common to both teams : {90, 78}
Scores exclusive to each team : {34, 45, 23, 56}
Are the scores of team A subset of team B? False
Are the scores of team B superset of team A? False

Enter a score : 56

Set A after removing 56 : {34, 90, 78}

In [43]:
#Ques 5

In [33]:
sample_dict={'name':'Kelly', 'age':25, 'salary':8000, 'city':'New york'}
sample_dict['location']=sample_dict['city']
sample_dict.pop('city')
print('Modified dictionary :',sample_dict)

Modified dictionary : {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}